<html>
<head>
    <title>Abiball Playlist</title>

    <% include parts/css.ejs %>

</head>

<body>
<div class="container mt-5">
    <div class="card pl-3 pt-2">
        <div class="card-block">
            <% for (var key in DATA) {
            if (DATA.hasOwnProperty(key)) { %>
            <h3 class="card-title"><%= key %></h3>
            <hr>
            <ul>
                <% for (var entry in DATA[key]) {
                if (DATA[key].hasOwnProperty(entry)) { %>
                <li><a href="<%= DATA[key][entry].url %>" target="_blank"><%= entry %></a></li>
                <%
                }
                }
                %>
            </ul>
            <%
            }
            } %>
        </div>
    </div>

</div>
</body>
</html>