.navbar-dark {
    color: #FFF;
}

.vote-row i {
    cursor: pointer;
    transition: color ease-in 0.2s;
    animation-delay:  0.2s !important;
}

@keyframes bounce-up {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

@keyframes bounce-down {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    80% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
}

.vote-row i:hover {
    color: #777;
}

.vote-row .fa-thumbs-up:hover {
    animation: bounce-up 0.7s ease-in forwards;
}

.vote-row .fa-thumbs-down:hover {
    animation: bounce-down 1s ease-in forwards;
}


input[type=text] {
    width: 130px;
    -webkit-transition: width 1.4s ease-in;
    -moz-transition: width 1.4s ease-in ;
    -ms-transition: width 1.4s ease-in ;
    -o-transition: width 1.4s ease-in ;
    transition: width 1.4s ease-in ;
}

input[type=text]:focus {
    width: 100%;
}