.navbar-dark {
    color: #FFF;
}

.vote-row i {
    cursor: pointer;
    transition: color ease-in 0.2s;
    animation-delay: 0.2s !important;
}

@keyframes bounce-up {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

@keyframes bounce-down {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    80% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
}

.vote-row i:hover {
    color: #777;
}

.vote-row .fa-thumbs-up:hover {
    animation: bounce-up 0.7s ease-in forwards;
}

.vote-row .fa-thumbs-down:hover {
    animation: bounce-down 1s ease-in forwards;
}

input[type=text] {
    width: 150px;
    -webkit-transition: width .5s !important;
    -moz-transition: width .5s !important;
    -ms-transition: width .5s !important;
    -o-transition: width .5s !important;
    transition: width .5s !important;
}

input[type=text]:focus {
    width: 300px;
}

.pointer-mouse {
    cursor: pointer;
}

.name .image img {
    height: 55px;
}

.changeheight {
    height: 90px !important;
}
.description {
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s !important;
    cursor: pointer;
}

.description:hover {
    color: #000 !important;
}

.result {
    cursor: default !important;
}